<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <style>
        .form-inline {
            width: 50%;
            margin: 0 auto;
        }
        .multi-line {
            white-space: pre-wrap;
        }
        .custom-text {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">

        <br>
        <h2 class="text-center" >Todo App
            <i class="fa-regular fa-calendar-check" style="color: #8A2BE2"></i>
        </h2>
        <br>

        <form class="form-inline" th:action="@{/search}">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Tìm kiếm theo tiêu đề..." aria-label="Search" name="searchTitle">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </form>
        <br> <br>

        <nav class="navbar justify-content-between">
            <div class="d-flex">

                <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fa-solid fa-filter"></i> <b>Filter</b>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Filter</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/filter}" method="get">
                                <div class="modal-body">
                                    <label for="status" class="form-label bold-font">Lọc theo trạng thái</label>
                                    <select class="form-select" id="status" name="status" style="margin-bottom: 7px">
                                        <option selected value="">-- Default --</option>
                                        <option value="IN_COMPLETE">Chưa hoàn thành</option>
                                        <option value="IN_PROGRESS">Đang làm</option>
                                        <option value="COMPLETED">Hoàn thành</option>
                                        <option value="CANCELLED">Bị hủy</option>
                                        <option value="OVERDUE">Quá hạn</option>
                                    </select>
                                    <label for="priority" class="form-label bold-font">Lọc mức độ quan trọng</label>
                                    <select class="form-select" id="priority" name="priority" style="margin-bottom: 7px">
                                        <option selected value="">-- Default --</option>
                                        <option value="IN_DAY">Trong ngày</option>
                                        <option value="IN_THREE_DAYS">Trong ba ngày</option>
                                        <option value="IN_WEEK">Trong tuần</option>
                                        <option value="IN_TWO_WEEKS">Trong hai tuần</option>
                                        <option value="IN_MONTH">Trong tháng</option>
                                    </select>
                                    <label for="date-format" class="form-label bold-font" >Lọc thời gian hoàn thành</label>
                                    <input type="date" class="form-control" id="date-format" value="" name="finishDay">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">OK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button style="margin-left: 10px" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#staticSort">
                    <i class="fa-solid fa-arrow-up-wide-short"></i> <b>Sort</b>
                </button>
                <div class="modal fade" id="staticSort" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" style="top: 33%; transform: translateY(-33%);">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticSortLabel">Sort</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/sort-task}" method="get">
                                <div class="form-check" style="margin-left: 10px">
                                    <input type="radio" class="form-check-input" id="Option1" name="selectedOption" value="1">
                                    <label class="form-check-label" for="Option1">Ngày ---> Tháng</label>
                                </div>

                                <div class="form-check" style="margin-left: 10px">
                                    <input type="radio" class="form-check-input" id="Option2" name="selectedOption" value="2">
                                    <label class="form-check-label" for="Option2">Tháng ---> Ngày</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">OK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <form th:action="@{/check-task}" method="get">
                    <button style="margin-left: 10px" class="btn btn-warning" type="submit">
                        <i class="fa-solid fa-list-check"></i> <b>Check</b>
                    </button>
                </form>

                <form th:action="@{/refresh}" method="get">
                    <button class="btn btn-primary" style="margin-left: 10px" type="submit">
                        <i class="fa-solid fa-rotate-right"></i>
                    </button>
                </form>
            </div>

            <div> <a class="btn btn-success" href="/add-task">
                    <i class="bi bi-x-square-fill"></i> <b>+ Add</b></a>
            </div>
        </nav>

        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th class="col" style="max-width: 45px">Trạng thái</th>
                    <th class="col">Tiêu đề</th>
                    <th class="col" style="min-width: 10px">Mức độ quan trọng</th>
                    <th class="col">T/g lên lịch</th>
                    <th class="col">T/g hoàn thành</th>
                    <th class="col">Ghi chú</th>
                    <th class="col">AC</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="task : ${todoList}">
                    <td class="custom-text" th:if="${task.status != null}" th:text="${task.status.displayName}"></td>
                    <td class="multi-line" th:text="${task.title}" style="max-width: 300px"></td>
                    <td class="custom-text" th:if="${task.priority != null}" th:text="${task.priority.displayName}"></td>
                    <td class="custom-text" th:text="${#temporals.format(task.startDay, 'dd-MM-yyyy')}"></td>
                    <td class="custom-text" th:text="${#temporals.format(task.finishDay, 'dd-MM-yyyy')}"></td>
                    <td class="multi-line" th:text="${task.note}" style="max-width: 200px"></td>
                    <td class="custom-text" style="min-width: 5px">
                        <div class="btn btn-group-sm" role="group">
                            <a th:href="@{/edit-task/{id}(id = ${task.id})}" style="margin-left: 7px; color: green"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a th:href="@{/delete-task/{id}(id = ${task.id})}" style="color: red"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
